<h1>Order no. <%= @order.id %></h1>

<% unless @paid || @order.seller_id == current_user.id %>
  <button data-stripe="payment">
  Pay <%= number_to_currency(@order.total) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= ENV['PUBLISHABLE_KEY'] %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<%= link_to  "Cancel Order", order_path(@order), method: "DELETE",
                                                data: {confirm: "Are you sure?"} %>                                              
<% end %>

<% if @paid %>
  <h2>This Order has been paid for!</h2>
<% elsif @paid == false && @order.seller_id == current_user.id %>
  <h2>This Order is awaiting payment from the buyer</h2>
<% end %>


<% if @transactions %>
  <% @transactions.each do |transact| %>
    <%= transact.updated_at %><br>
    <%= number_to_currency(transact.amount) %><br>
    <%= transact.paid %><br>
  <% end %>
<% end %>