<h1>Order no. <%= @order.id %></h1>

<% unless @paid %>
  <button data-stripe="payment">
    Pay for order <%= number_to_currency(@order.total) %>
  </button>

  <script src="https://js.stripe.com/v3/"></script>

  <script>
    document
      .querySelector("[data-stripe='payment']")
      .addEventListener("click", () => {
        const stripe = Stripe(
          "<%= ENV['STRIPE_PUBLIC_KEY'] %>"
        );

        stripe.redirectToCheckout({
          sessionId: "<%= @session_id %>"
        });
      });
  </script>
<% else %>
  <h2>This order has been paid for!</h2>
<% end %>

<% if @transactions %>
  <% @transactions.each do |transact| %>
    <%= transact.updated_at %><br>
    <%= number_to_currency(transact.amount) %><br>
    <%= transact.paid %><br>
  <% end %>
<% end %>