<h1>Browse Page</h1>

<%= form_with scope: :browse, url: browse_path, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %><br>
  <%= f.label :tea_ids, 'Tea Type' %>
  <%= f.collection_check_boxes :tea_ids, Property.where("id < ?", 11), :id, :name %><br>
  <%= f.label :flavour_ids, 'Flavour' %>
  <%= f.collection_check_boxes :flavour_ids, Property.where("id > ?", 10), :id, :name %><br>
  <%= f.submit "Search"%>
<% end %>

<% @blends.each do |blend| %>

  <%= link_to  blend.name, blend_path(blend) %><br>

<% end %>

<%== pagy_bootstrap_nav(@pagy) %>




