
  
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag  "one.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag  "two.jpg", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag  "three.jpg", class: "d-block w-100" %>
      </div>
    </div>
  </div>
  
  <div class="container">
    
    <%= render  "shared/searchbar" %>

    <div class="row my-3 px-5 py-3 secondary flex-column align-items-center justify-content-center">
      <div class="row">
        <h3><em>Find some inspiration</em><h3>
      </div>
      <hr>
      <%= render  "shared/blends", collection: @pagy %>
    </div>
  </div>

