<h1>Home Page</h1>

<% if current_user %>
  <%= link_to "Account", account_path %>
  <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %>
  <%= link_to  "Create Blend", new_blend_path %>
  <%= link_to  "Cart", cart_show_path %>:
<% else %>
  <%= link_to "Login", user_session_path %>
  <%= link_to "Sign-up", new_user_registration_path %>
  <%= link_to  "Create Blend", new_blend_path %>
  <%= link_to  "Cart", user_session_path %>
<% end %>