<h1>Home Page</h1>

<% if current_user %>
  <%= link_to "Account", account_path %>
  <%= link_to "Logout", destroy_user_session_path, method: "DELETE" %>
  <%= link_to  "Create Blend", new_blend_path %>
  <%= link_to  "Cart", cart_show_path %>:
<% else %>
  <%= link_to "Login", user_session_path %>
  <%= link_to "Sign-up", new_user_registration_path %>
  <%= link_to  "Create Blend", new_blend_path %>
  <%= link_to  "Cart", user_session_path %>
<% end %>

<%= form_with scope: :browse, url: browse_path, local: true do |f| %>
<%= f.label :search %>
<%= f.text_field :search %><br>
<%= f.label :tea_ids, 'Tea Type' %>
<%= f.collection_select :tea_ids, Property.where("id < ?", 11), :id, :name %><br>
<%= f.label :flavour_ids, 'Flavour' %>
<%= f.collection_select :flavour_ids, Property.where("id > ?", 10), :id, :name %><br>
<%= f.submit "Search"%>
<% end %>