<h1><%= @blend.name %></h1>
<h2>Blend by <%= link_to  @blend.user.name, profile_path(@blend.user) %></h2>

<% if @blend.image.attached? %>
  <% @blend.image.each do |image| %>
    <%=  image_tag image %>
  <% end %>
<% end %>
<p> <%= @blend.totalrating %> </p>
<p> <%= @blend.price %> </p>
<p> <%= @blend.weight %>g </p>
<p> <%= @blend.shipping_cost %> </p>
<p> <%= @blend.discount_amount %> </p>
<p> <%= @blend.descrip %> </p>
<p> <%= @blend.price %> </p>
<% @blend.properties.each do |property| %>
  <%= property.name %>
  <%= property.descrip %><br>
<% end %>

<% if current_user.id == @blend.user.id %>
  <h3>Administration controls</h3>
  Quantity left: <%= @blend.quantity %>
  <%= link_to  "Edit", edit_blend_path(@blend) %>
  <%= link_to  "Delete", blend_path(@blend), 
                        method: 'DELETE',
                        data: { confirm: 'Are you sure?' } %>
<% else %>
  <%= form_with model: @cart_item, url: cart_add_path(current_user.cart), local: true do |f| %>
    <%= f.hidden_field :blend_id, value: @blend.id %>
    <%= f.number_field :blend_quantity, in: 1..100, step: 1 %>
    <%= f.submit "Add to Cart" %>
  <% end %>
  <%= link_to  "Leave a review", new_review_path(blend_id: @blend.id) %>
<% end %>

