<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if @blend.image.count == 0 %>
      <div class="carousel-item active">
        <%= image_tag  "one.jpg", class: "d-block w-100" %>
      </div>
    <% else %>
      <div class="carousel-item active">
        <%= image_tag  @blend.image.first, class: "d-block w-100" %>
      </div>
    <% end %>

    <% if @blend.image.count > 1 %>
      <% @blend.image[1..-1].each do |img| %>
        <div class="carousel-item">
          <%= image_tag  img, class: "d-block w-100" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-11 col-sm-6 primary m-3 p-3">
      <h5>Blend name: <strong><%= @blend.name %></strong></h5>
      <hr>
      <div class="d-flex align-items-center">
      <h5>Blender:</h5><%= link_to @blend.user.name, profile_path(@blend.user), class: "btn btn-primary ml-1" %>
      </div>
      <hr>
      <h5>Price: <strong><%= number_to_currency(@blend.price) %></strong></h5>
    </div>
    <div class= "col primary m-3 p-4">
    <% if current_user %>
      <% if current_user.id == @blend.user.id %>
        <h5>Administration controls</h5>
        <hr>
        <h6>Quantity left: <strong><%= @blend.quantity %></strong></h6>
        <%= link_to  "Edit", edit_blend_path(@blend), class: "btn btn-warning" %>
        <%= link_to  "Delete", blend_path(@blend), class: "btn btn-danger",
                                                  method: 'DELETE',
                                                  data: { confirm: 'Are you sure?' } %>
      <% else %>
        <% if @blend.quantity > 0 %>
          <%= form_with scope: :cart_item, url: cart_add_path(current_user.cart), local: true do |f| %>
            <%= f.hidden_field :blend_id, value: @blend.id %>
            <div class="form-group">
            <%= f.number_field :blend_quantity, in: 1..@blend.quantity, step: 1, class: "form-control" %>
            </div>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <h5>Out of Stock!</h5>
        <% end %>
        <hr>
        <%= link_to  "Leave a review", new_review_path(blend_id: @blend.id), class: "btn btn-warning" %>
        <%= link_to  "Ask a question", new_conversation_path(blend_id: @blend.id), class: "btn btn-info" %>
      <% end %>
      <% else %>
        <%= form_with scope: :cart_item, url: user_session_path, method: "GET", local: true do |f| %>
          <div class="form-group">
          <%= f.number_field :blend_quantity, in: 1..@blend.quantity, step: 1, class: "form-control", required: true %>
          </div>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        <% end %>
        <hr>
        <%= link_to  "Leave a review", user_session_path, class: "btn btn-warning" %>
        <%= link_to  "Ask a question", user_session_path, class: "btn btn-info" %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class= "col-11 col-sm-4 secondary m-3 p-4">
    <h5><strong>Rating</strong>: <em><%= @blend.totalrating %> / 5</em></h5>
    <hr>
    <% if @blend.properties %>
      <ul class="list-group">
        <% @blend.properties.each do |prop| %>
          <li class="list-group-item list-group-item-dark"><strong><%= prop.name %></strong>, <em><%= prop.descrip %></em></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="col secondary m-3 p-4">
      <h5><strong>Description</strong></h5>
      <hr>
      <p><%= @blend.descrip %></p>
    </div>
  </div>
  <hr>
  <% unless @blend.reviews.empty? %>
  <%= render  "shared/reviews", collection: @pagy %>
  <% else %>
  <div class="row justify-content-center m-5">
    <h5><strong>This product has no reviews yet!</strong></h5>
  </div>
  <% end %>
</div>