<h1><%= @blend.name %></h1>
<h2>Blend by <%= link_to  @blend.user.name, profile_path(@blend.user) %></h2>
<p> <%= @blend.price %> </p>
<p> <%= @blend.weight %>g </p>
<p> <%= @blend.shipping_cost %> </p>
<p> <%= @blend.discount_amount %> </p>
<p> <%= @blend.descrip %> </p>
<p> <%= @blend.price %> </p>
<% @blend.properties.each do |property| %>
  <%= property.name %>
  <%= property.descrip %><br>
<% end %>

<% if current_user.id == @blend.user.id %>
  <h3>Administration controls</h3>
  <%= link_to  "Edit", edit_blend_path(@blend) %>
  <%= link_to  "Delete", blend_path(@blend), method: 'DELETE' %>
<% else %>
  <%= link_to  "Leave a review", new_review_path %>
<% end %>