<div class='container height'>
  <div class='spacer'></div>
  <div class='row align-items-center justify-content-center'>
    <div class='col-9 col-md-6 py-3 primary d-flex flex-column align-items-center justify-content-center'>
      
      <div class='row'>
      <h1>Account</h1>
      </div>

      <div class='row align-items-center justify-content-center'>
      <%= link_to 'Profile page', profile_path(@user), class: 'col-5 col-md-2 m-1 btn btn-primary' %>
      <%= link_to 'Edit Account Details', edit_user_registration_path, class: 'col-6 col-md-3 m-1 btn btn-primary' %>
      <%= link_to 'Your Reviews', review_history_path, class: 'col-5 col-md-2 btn m-1 btn-primary' %>
      <%= link_to 'Orders & Transactions', order_history_path, class: 'col-6 col-md-3 m-1 btn btn-primary' %>
      </div>
      <hr/>
      <div class='row flex-column text-left ml-1'>
        <p><strong>Username:</strong> <%= @user.name %> </p>
        <p><strong>Email:</strong> <%= @user.email %> </p>
        <% if @user.address %>
          <% address = @user.address %>
          <p><strong>Address:</strong> <%= address.number %> <%= address.street %>, <%= address.suburb %>, <%= address.state %> <%= address.postcode %></p>
        <% end %>
        <p><strong>Credit:</strong> <%= @user.credit %></p>
      </div>
      <hr/>
      <div class='row flex-column m-2'>
      <%= image_tag @user.profilepic, class: 'img-fluid imgborder' if @user.profilepic.attached? %>
      <%= link_to  "Change profile picture", edit_user_registration_path, class: "btn btn-primary mx-2 mt-1" %>
      </div>
    </div>
  </div>
</div>

