<div class="spacer"></div>
<div class="container">
  <div class="col primary">

    <div class="row p-3">
      <h4>Inbox</h4>
    </div>
    <div class="row p-3">
      <h4>Questions you have been asked</h4>
    </div>
    <% unless @to_conversations.empty? %>
      <% @to_conversations.each do |convo| %>
      <div class="row flex-column secondary m-3 p-3">
      <p>From: <%= link_to convo.from_user.name, profile_path(convo.from_user.name), class: "btn btn-primary btn-sm" %></p><br>
      <p><%= convo.messages.last.content %></p>
        <div class="row justify-content-between px-5">
        <%= link_to  "Full conversation", conversation_path(convo), class: "btn btn-primary btn-sm" %>
        <% if convo.is_active %>
          <%= link_to  "Make in-active", inactive_path(convo), class: "btn btn-warning btn-sm",
                                                              method: "PATCH",
                                                              data: {confirm: "Are you sure? You will not be able to add new messages to the conversation if you do this."} %>
        <% end %>
        <%= link_to  "Delete conversation", conversation_path(convo), class: "btn btn-danger btn-sm",
                                                                    method: "DELETE",
                                                                    data: {confirm: "Are you sure you want to delete this conversation?"}   %>
        </div>
      </div>
    <% end %>
    <% else %>
    <div class='row p-5'>
      <h6>You haven't been asked any questions</h6>
    </div>
    <% end %>

    <hr>

    <div class="row p-3">
      <h4>Questions you have asked</h4>
    </div>
    <% unless @from_conversations.empty? %>
      <% @from_conversations.each do |convo| %>
      <div class="row flex-column secondary m-3 p-3">
      <p>To: <%= link_to convo.to_user.name, profile_path(convo.to_user.name), class: "btn btn-primary btn-sm" %></p><br>
      <p><%= convo.messages.last.content %></p>
        <div class="row justify-content-between px-5">
        <%= link_to  "Full conversation", conversation_path(convo), class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end %>
    <% else %>
    <div class='row p-5'>
      <p>You haven't asked any questions</p>
    </div>
    <% end %>
    
  </div>
</div>


