<nav class="navbar navbar-dark bg-dark">
  
  <a class="nav-item p-0 widther" href="<%= root_path %>">
    <%= image_tag  "tchibalogo.png", class: "img-fluid " %>
  </a>
  
 <%= link_to  "Browse", browse_path, class: "navbar-brand btn btn-success hide ml-auto" %>   

  <% if current_user %>
    <a class="navbar-brand btn btn-primary autoleftmobile" href="<%= cart_show_path %>">Cart <span class="badge badge-secondary"><%= session[:count] %></span></a>
  <% else %>
    <a class="navbar-brand btn btn-primary autoleftmobile" href="<%= user_session_path %>">Cart <span class="badge badge-secondary"><%= session[:count] %></span></a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
  
      <li class="nav-item active">
        <%= link_to  "Browse", browse_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to  "Create Blend", new_blend_path, class: "nav-link" %>
      </li>
      <div class="dropdown-divider"></div> 
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Account", account_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to  "Inbox", conversations_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", method: "DELETE" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Login", user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign-up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
      <div class="dropdown-divider"></div> 
      <li class="nav-item active">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
    </ul>
  </div>
</nav>