<div class="row secondarytext">
  <div class="card-columns mx-3">
    <% @reviews.each do |review| %>
    <div class="card text-white bg-dark mb-4">
      <div class="card-header"><strong class="badge-pill badge-success"><%= review.rating.to_i %> / 5</strong></div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= link_to  review.blend.name, blend_path(review.blend) %></h6>
        <p class="card-text"><%= review.descrip %></p>
        <%= link_to  review.user.name, profile_path(review.user), class: "card_link btn btn-primary" %>
        <% if current_user %>
          <% if review.user.id == current_user.id %>
          <%= link_to "Delete", review_path(review), class: "btn btn-danger",
                                                      method: "DELETE",
                                                      data: {confirm: "Are you sure?"} %>
          <% end %>
        <% end %>
        <p class="card-text"><small class="text-muted"><%= review.created_at %></small></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row row justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>