<h1>Leave a review for <% @blend.name %></h1>

<%= form_with model: @review, local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :blend_id, value: @blend.id %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: 1...5, required: true %>
  <%= f.label :descrip, 'Your Review' %>
  <%= f.text_area :descrip, required: true %>
  <%= f.submit %>
<% end %>

