<h1>Review for <%= link_to @review.blend.name, blend_path(@review.blend) %></h1>
<p>From <%= link_to @review.user.name, profile_path(@review.user)%></p>
Rating: <%= @review.rating %><br>
<%= @review.descrip %><br>
Created on: <%= @review.created_at %><br>
